/Constant.class
/ConstantExpression.class
/Expression.class
/FieldNameExpression.class
/IntConstant.class
/Plan.class
/Predicate.class
/ProductPlan.class
/ProductScan.class
/ProjectPlan.class
/ProjectScan.class
/Scan.class
/SelectPlan.class
/SelectScan.class
/StringConstant.class
/TablePlan.class
/TableScan.class
/Term.class
/UpdateScan.class
